<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% if (user) {%>

        <nav>
            <h1>
                Members Only
            </h1>

            <div>
                <a href="/">Home</a>
                <a href="/new-message">Create New Message</a>
                <a href="/member-join">Become a Member</a>
                <a href="/admin-access">Become a Admin</a>
                <a href="/log-out">Log Out</a>
            </div>
        </nav>

        <h3>
            <%= title %>
        </h3>
        <div>
            <p>
                <%= message.username%>
            </p>
            <p>
                <%= message.title%>
            </p>
            <p>
                <%= message.text%>
            </p>
            <p>
                <%= message.date%>
            </p>
        </div>

        <form action="" method="POST">
            <input type="hidden" name="messageid" required="true" value=<%=message._id%>>
            <input type="text" name="adminPassword" placeholder="Password">
            <button>Delete</button>
        </form>

        <% } else { %>
            <p>
                <a href="/login">Login</a>
                to see this page.
            </p>
            <%}%>

                <% if (typeof errors !='undefined' ) { %>
                    <ul>
                        <% errors.forEach(err=> { %>
                            <li>
                                <%= err.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>

</body>

</html>