<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>

  <% if (user) {%>
    <h1>
      WELCOME BACK <%= user.username %>
    </h1>

    <a href="/log-out">Log Out</a>
    <a href="/new-message">Create New Message</a>
    <a href="/member-join">Become a Member</a>
    <a href="/admin-access">Become a Admin</a>

    <% } else { %>
      <p>
        Welcome to <%= title %>
      </p>
      <%}%>

        <% all_messages.map((message)=> {%>

          <div>
            <hr>
            <p>
              <%= user && user.isMember ? `${message.username}` : 'Anon' %>
            </p>
            <p>
              <%= message.title%>
            </p>
            <p>
              <%= message.text%>
            </p>
            <p>
              <%= user && user.isMember ? `${message.date}` : 'date: **/**/****' %>
            </p>
            <% if (user && user.isAdmin) {%>
              <a href=<%=`/delete-message/${message._id}`%>>Delete</a>
              <% }%>
          </div>

          <%})%>
</body>

</html>