<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


  <% if (user) {%>

    <nav>
      <h1>
        <%= title %>
      </h1>

      <div>
        <a href="/">Home</a>
        <a href="/new-message">Create New Message</a>
        <a href="/member-join">Become a Member</a>
        <a href="/admin-access">Become a Admin</a>
        <a href="/log-out">Log Out</a>
      </div>
    </nav>


    <!-- <h1>
      WELCOME BACK <%= user.username %>
    </h1> -->

    <% } else { %>
      <nav>
        <h1>
          <%= title %>
        </h1>

        <div>
          <a href="/login">Log In</a>
        </div>
      </nav>
      <%}%>

        <div class="all-messages-div">
          <% all_messages.map((message)=> {%>

            <div class="message-div">
              <h3>
                <%= message.title%>
              </h3>
              <p>
                <%= message.text%>
              </p>

              <div class="message-date-div">
                <p>
                  <%= user && user.isMember ? `${message.date}` : 'date: **/**/****' %>
                </p>
                <p>
                  <%= user && user.isMember ? `${message.username}` : 'Anon' %>
                </p>
              </div>

              <% if (user && user.isAdmin) {%>
                <a class="delete-btn" href=<%=`/delete-message/${message._id}`%>>Delete</a>
                <% }%>
            </div>
            <%})%>
        </div>
</body>

</html>